[submodule "stm32-cmake"]
	path = stm32-cmake
	url = https://github.com/ObKo/stm32-cmake.git
[submodule "STM32CubeF1"]
	path = STM32CubeF1
	url = https://github.com/STMicroelectronics/STM32CubeF1.git
